<h1>Add New Movie</h1>

<%= simple_form_for @movie do |f| %>
  <div class="form-inline mb-sm-3" id="movie_title">
    <%= f.input :name, label: false, placeholder: 'Enter movie name', input_html: { class: 'flex-fill' }, wrapper_html: { class: 'flex-fill' } %>
    <%= f.button :button, icon('fas', 'search'), class: 'btn btn-primary align-self-start', id: 'movie_button' %>
  </div>
  <div class="form-row">
    <div class="col">
    <%= f.input :description, label: false, placeholder: 'Movie plot' %>
    </div>
    <div class="col">
    <%= f.input :actors, label: false, disabled: true, placeholder: 'Starring' %>
    </div>
  </div>
  <div class="d-none">
    <%= f.input :director %>
    <%= f.input :description %>
    <%= f.input :year %>
    <%= f.input :imdb %>
    <%= f.input :production %>
    <%= f.input :awards %>
    <%= f.input :writer %>
    <%= f.input :imdbrating %>
    <%= f.input :metascore %>
    <%= f.input :runtime %>
    <%= f.input :rated %>
    <%= f.input :language %>
    <%= f.input :country, as: :text %>
    <%= f.input :poster %>
  </div>
<%= f.button :submit, class: 'btn btn-success btn-block' %>
<% end %>
