<h1 class="m-0 d-flex justify-content-between">
  <div>
    <%= link_to 'All Movies', movies_path %>
    <%= icon('fas', 'angle-right') %>
    <%= @movie.name %> (<%= @movie.year %>)
  </div>
  <% if user_signed_in? %>
  <div>
    <%= link_to icon('far', 'trash-alt'), @movie, method: "delete", class: 'text-danger', data: { confirm: "Delete this movie?" } %>
  </div>
  <% end %>
</h1>

<div class="mb-3 d-flex flex-wrap justify-content-between">
  <div class="small">
    <%= @movie.rated %> | 
    <%= @movie.showtime %> | 
    <%= @movie.genres.map { |genre| link_to genre.name, genre }.join(", ").html_safe %> |
    <%= @movie.country %> (<%= @movie.language %>)
  </div>
  <div class="small">
    My Score: <%= @my_score ? @my_score.score : 'N/A' %> | <%= @partner.name %>'s Score: <%= @partner_score ? @partner_score.score : 'N/A' %>
  </div>
</div>

<div class="row">

  <div class="col-md-4 text-center">
    <%= image_tag @movie.poster, class: 'img-fluid mx-auto float-md-left' %>
  </div>

  <div class="col-md-8 px-4 px-md-3">

    <div class="row font-italic">
      <p
        data-controller="inline-edit"
        data-inline-edit-model="movie"
        data-inline-edit-name="description"
        data-inline-edit-original="<%= @movie.description %>"
        data-inline-edit-input-class="input form-control"
        data-target="inline-edit.source"
        data-action="click->inline-edit#toggle click@window->inline-edit#close"
      >
        <%= @movie.description %>
      </p>
    </div>

    <div class="row my-3">
      <ul class="list-unstyled mb-0">
      <% @wanted.each do |thing| %>
        <% unless @movie.send(thing) == 'N/A' %>
          <% if thing == 'actors' %>
            <li><strong>Stars:</strong> <%= @movie.send(thing) %>
          <% else %>
            <li><strong><%= thing.titleize %>:</strong> <%= @movie.send(thing) %>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>

    <hr/>

    <div class="row">
      <div class="col-4 text-center">
        <div><%= link_to "Metascore", "https://www.imdb.com/title/#{@movie.imdb}/criticreviews" %></div>
        <div>
          <%= @movie.metascore.nil? ? "N/A" : (number_with_precision(@movie.metascore, strip_insignificant_zeros: true) + " / 100") %>
        </div>
      </div>
      <div class="col-4 text-center">
        <div><%= link_to "IMDb", "https://www.imdb.com/title/#{@movie.imdb}/" %></div>
        <div>
          <%= @movie.imdbrating.nil? ? "N/A" : (number_with_precision(@movie.imdbrating, strip_insignificant_zeros: true) + " / 10") %>
        </div>
      </div>
      <div class="col-4 text-center">
        <div>Our Score</div>
        <div>
          <%= @movie.average ? "#{(number_with_precision(@movie.average, strip_insignificant_zeros: true))} / 5" : 'N/A' %>
        </div>
      </div>
    </div>

  </div>
</div>