<h1 class="m-0 d-flex justify-content-between">
  <div>
    <%= link_to 'All Movies', movies_path %>
    <%= icon('fas', 'angle-right') %>
    <%= @movie.name %> (<%= @movie.year %>)
  </div>
  <% if user_signed_in? %>
  <div>
    <%= link_to icon('far', 'trash-alt'), @movie, method: "delete", class: 'text-danger', data: { confirm: "Delete this movie?" } %>
  </div>
  <% end %>
</h1>


<div class="mb-3 d-flex flex-wrap justify-content-between">
  <div class="small">
    <%= @movie.rated %> | 
    <%= @movie.showtime %> | 
    <%= @movie.genres.map { |genre| link_to genre.name, genre }.join(", ").html_safe %> |
    <%= @movie.country %> (<%= @movie.language %>)
  </div>
  <div class="d-flex">
    <div class="small">
      My Score: <%= @my_score ? @my_score.score : 'N/A' %>

      <span class="btn-group dropdown keep-open">
        <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= simple_form_for @rating do |f| %>
            <% options = ['N/A', 1, 2, 3, 4, 5] %>
            <%= f.input :score, label: false, collection: options, selected: (@my_score ? @my_score.score : 'N/A'), class: 'form-control' %>
            <%= f.submit 'Update', class: 'btn btn-success' %>
          <% end %>
        </div>
      </span>

    </div>
    <div class="small px-1">|</div>
    <div class="small"><%= @partner.name %>'s Score: <%= @partner_score ? @partner_score.score : 'N/A' %></div>
  </div>
</div>

<div class="row">

  <div class="col-md-3 text-center">
    <%= image_tag @movie.poster, class: 'img-fluid mx-auto float-md-left' %>
  </div>

  <div class="col-md-9 px-4 px-md-3">

    <div class="row d-flex">
      <div 
        class="flex-fill"
        data-controller="edit-text"
        data-edit-text-model="movie"
        data-edit-text-name="description"
        data-edit-text-input-class=""
        data-edit-text-original="<%= @movie.description %>">
        <div class="d-flex justify-content-between px-3">
          <h4>Plot</h4>
          <% if user_signed_in? %>
            <a data-target="edit-text.button" class="btn p-0 m-0" data-action="click->edit-text#toggleTextarea">✎</a>
          <% end %>
        </div>
        <div data-target="edit-text.source">
          <div class="px-3 pt-2 border-top"><%= @movie.description %></div>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <div class="flex-fill">
        <div class="border-bottom d-flex justify-content-between px-3">
          <h4>Details</h4>
        </div>
        <div class="col pt-2">
          <% @wanted.each do |thing| %>
          <div>
            <strong class="align-middle"><%= thing.titleize %>:</strong>
            <span class="align-middle"><%= @movie.send(thing) %></span>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <div class="flex-fill">
        <div class="border-bottom d-flex justify-content-between px-3">
          <h4>Ratings</h4>
        </div>
        <div class="d-flex pt-2">
          <div class="col-4 text-center">
            <div><%= link_to "Metascore", "https://www.imdb.com/title/#{@movie.imdb}/criticreviews" %></div>
            <div>
              <%= @movie.metascore.nil? ? "N/A" : (number_with_precision(@movie.metascore, strip_insignificant_zeros: true) + " / 100") %>
            </div>
          </div>
          <div class="col-4 text-center">
            <div><%= link_to "IMDb", "https://www.imdb.com/title/#{@movie.imdb}/" %></div>
            <div>
              <%= @movie.imdbrating.nil? ? "N/A" : (number_with_precision(@movie.imdbrating, strip_insignificant_zeros: true) + " / 10") %>
            </div>
          </div>
          <div class="col-4 text-center">
            <div>Our Score</div>
            <div>
              <%= @movie.average ? "#{(number_with_precision(@movie.average, strip_insignificant_zeros: true))} / 5" : 'N/A' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>