<table data-turbolinks='false' id="datatable" class="table table-striped table-hover dt-responsive" style="width:100%">
  <thead>
    <tr>
      <th data-priority="1">Title</th>
      <th data-priority="3"><%= User.find(1).name %>'s</th>
      <th data-priority="3"><%= User.find(2).name %>'s</th>
      <th data-priority="2">Average</th>
      <th data-priority="4">Genres</th>
      <th data-priority="5">Plot</th>
      <% if user_signed_in? %>
      <th data-priority="3">Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
      <td>
        <%= render partial: "shared/modal", locals: {movie: movie} %>
      </td>
      <td class="text-center">
        <%= movie.evan_rating ? movie.evan_rating.score : 'N/A' %>
        <% if user_signed_in? %>
        <span class="btn-group dropdown keep-open">
          <a class="dropdown-toggle text-muted" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu dropdown-menu-right p-0 border-0">
            <%= render partial: "shared/rating", locals: { movie_id: movie.id, user_id: 1, original: (movie.evan_rating ? movie.evan_rating.score : 'N/A') }  %>
          </div>
        </span>
        <% end %>
      </td>
      <td class="text-center">
        <%= movie.case_rating ? movie.case_rating.score : 'N/A' %>
        <% if user_signed_in? %>
        <span class="btn-group dropdown keep-open">
          <a class="dropdown-toggle text-muted" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu dropdown-menu-right p-0 border-0">
            <%= render partial: "shared/rating", locals: { movie_id: movie.id, user_id: 2, original: (movie.case_rating ? movie.case_rating.score : 'N/A') }  %>
          </div>
        </span>
        <% end %>
      </td>
      <td class="text-center"><%= movie.average ? (number_with_precision(movie.average, strip_insignificant_zeros: true)) : 'N/A' %></td>
      <td>
        <%= movie.genres.map { |genre| link_to genre.name, genre }.join(', ').html_safe %>
      </td>
      <td><%= movie.description %></td>
      <% if user_signed_in? %>
      <td class="text-center">
        <%= link_to icon('far', 'trash-alt'), movie, method: "delete", class: 'text-danger', data: { confirm: "Delete this movie?" } %>
      </td>
      <% end %>
      </tr>
    <% end %>

  </tbody>
  
</table>