<table data-turbolinks='false' id="datatable" class="table table-striped table-hover dt-responsive" style="width:100%">
  <thead>
    <tr>
      <th data-priority="1">Title</th>
      <th data-priority="3">Evan's</th>
      <th data-priority="3">Case's</th>
      <th data-priority="2">Average</th>
      <th data-priority="4">Genres</th>
      <th data-priority="5">Plot</th>
      <% if user_signed_in? %>
      <th data-priority="2"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
      <td>
        <%= render partial: "shared/modal", locals: {movie: movie} %>
      </td>
      <td><%= movie.evan_rating ? movie.evan_rating.score : 'N/A' %></td>
      <td><%= movie.case_rating ? movie.case_rating.score : 'N/A' %></td>
      <td><%= movie.average ? (number_with_precision(movie.average, strip_insignificant_zeros: true)) : 'N/A' %></td>
      <td>
        <%= movie.genres.map { |genre| link_to genre.name, genre }.join(', ').html_safe %>
      </td>
      <td><%= movie.description %></td>
      <% if user_signed_in? %>
      <td class="text-center">
        <%= link_to icon('far', 'trash-alt'), movie, method: "delete", class: 'text-danger', data: { confirm: "Delete this movie?" } %>
      </td>
      <% end %>
      </tr>
    <% end %>

  </tbody>
  
</table>