<table data-turbolinks='false' id="datatable" class="table table-sm table-striped table-hover table-bordered dt-responsive" style="width:100%">
  <thead>
    <tr>
      <th data-priority="1">Title</th>
      <th data-priority="3">Evan's</th>
      <th data-priority="3">Case's</th>
      <th data-priority="2">Average</th>
      <th data-priority="4">Genres</th>
      <th data-priority="5">Plot</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
      <td>
        <%= render partial: "shared/modal", locals: {movie: movie} %>
      </td>
      <td><%= ang_score = movie.ratings.first.score %></td>
      <td><%= case_score = movie.ratings.last.score %></td>
      <td><%= number_with_precision((ang_score + case_score)/2.to_f, strip_insignificant_zeros: true) %></td>
      <td>
        <%= movie.genres.map { |genre| link_to genre.name, genre }.join(', ').html_safe %>
      </td>
      <td><%= movie.description %></td>
      </tr>
    <% end %>

  </tbody>
  
</table>